In [3]:
# lidt comprehension
[(a,b) for a in range(1,5) for b in range(11,13)]

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

In [7]:
# without list comprehension
mylist=[]
for a in range(1,5):
    for b in range(11,13):
        mylist.append((a,b))
mylist

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

In [9]:
suqarelis=[]
for a in range(1,21):
    for b in range(21,41):
        if(b==a**2):
            suqarelis.append((a,b))
suqarelis

[(5, 25), (6, 36)]

# Set collection of disting objects repitation not allow

In [11]:
aset={1,2,3,3,5,3,5,7,8,9,3,2,1}
len(aset)
aset

{1, 2, 3, 5, 7, 8, 9}

In [29]:
# list may repeate na ho value is k lea 2 opt hay
myli=[1,2,1,3,5,3,1,2]
ls2=[]
for x in myli:
    if x not in ls2:
        ls2.append(x)
print(ls2)  
#using list comprehension
ls=[]
[ls.append(x) for x in myli if x not in ls]
print(ls)

# set(myli)
print(set(myli))

#convert set into list
list(set(myli))
print(myli) # purani list may farq ni par

[1, 2, 3, 5]
[1, 2, 3, 5]
{1, 2, 3, 5}
[1, 2, 1, 3, 5, 3, 1, 2]

In [31]:
# set funtions
aset={2,3,4,5,6,7,8,90}
difference_set=aset.difference({2,3,20,30})
difference_set   #is nay phlay walay list say value check ki or jo same the usay hata kar jst baki value phla wal iki ratyeb kj8u

{4, 5, 6, 7, 8, 90}

In [32]:
other_set={2,3,4,7,5,1}
other_set.difference_update({4,5,0})
other_set # real set may update krta hay jo same ho 2no set mqy usay haata day ga

{1, 2, 3, 7}

In [39]:
other_sett={2,4,1,5}
other_sett.update({7}) #sort with update
print(other_sett)

other_sett.add(8)
other_sett

{1, 2, 4, 5, 7}

{1, 2, 4, 5, 7, 8}

In [42]:
#set iterable value layta hay is lea agr int as str day gay to ya usko iterable day ga
liss={2,3,5}
liss.update('40')
liss

{'0', 2, 3, '4', 5}

# dictionayr

In [ ]:
mydict={} #bydefault ya dic hay

In [20]:
mydic={'key1':'ali','key2':'asad','key3':'kami','key4':'amir'} # ya sequance follow ni krta hay jst jo ajae show kray ga bhala shuru may name ho or agr phla aya to age show hogi
type(mydic) 
for key,value in mydic.items():
    print(key,value)

key1 ali
key2 asad
key3 kami
key4 amir

In [22]:
#onlu for key
for key in mydic.keys():
    print(key)

key1
key2
key3
key4

In [23]:
#only for value
for value in mydic.values():
    print(value)

ali
asad
kami
amir

In [25]:
#touple return kray ga bcs 2 2 kay pare ban rahay hay
for value in mydic:
    print(value)

key1
key2
key3
key4

In [36]:
# index lana ho agr kisi bhi value ka to   -----> enumerate() use hoga list ya dic kisi k lea
for x in enumerate("Pakistan"):
    print(x)
#unpack ho jae gA IS SAY    
for a,b in enumerate("Pakistan"):
    print(a)  
#2 value return kray ga key or touple in dono ko alag alag get k lea
print("...........")    
for index,(key,value) in enumerate(mydic.items()):
    print(index)
    print(key)
    print(value)
print(mydic.items()) # ya 1 list resturn kray ga jis may har index pay key value pare ka1 touple hoga

(0, 'P')
(1, 'a')
(2, 'k')
(3, 'i')
(4, 's')
(5, 't')
(6, 'a')
(7, 'n')
0
1
2
3
4
5
6
7
...........
0
key1
ali
1
key2
asad
2
key3
kami
3
key4
amir
dict_items([('key1', 'ali'), ('key2', 'asad'), ('key3', 'kami'), ('key4', 'amir')])

In [45]:
#dictonary comprehenstion convert rs into doller
doller=168
price_in_rp={'milk':130,'oil':280,'shuger':100}
price_in_doller={key:value/doller for key,value in price_in_rp.items()}
print(price_in_doller)

# agr value 0.6 say bari ho to he list may jae doller may convert honay kay bad
doller=168
price_in_rp={'milk':130,'oil':280,'shuger':100}
price_in_doller={key:value/doller for key,value in price_in_rp.items() if (value/doller) > 0.6}
price_in_doller

{'milk': 0.7738095238095238, 'oil': 1.6666666666666667}